*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: whitesmoke; }

ul {
  list-style: none;
  display: inline-block; }

:root {
  font-family: 'Commissioner', sans-serif; }

body {
  box-sizing: border-box;
  background-color: #fafafa;
  height: 500rem; }

.c-main {
  width: clamp(100px, 90vw, 45rem);
  height: 20rem;
  margin: -4rem auto 0 auto;
  left: 50%;
  transform: translateX(-50%);
  position: absolute; }

.c-flex-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

.u-padding-v0 {
  padding: 0.5rem 0; }

.u-padding-v1 {
  padding: 1rem 0; }

.u-padding-v2 {
  padding: 2rem 0; }

.header {
  width: 100%;
  height: 60vh;
  background: url("../images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  position: relative; }
  .header::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.93) 0%, rgba(0, 0, 0, 0.1) 100%); }
  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 2rem 4rem; }
  .header__list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end; }
  .header__item {
    padding: 1rem; }
    .header__item--logo {
      margin-right: auto; }
  .header__link {
    position: relative;
    padding: 0.3rem 0; }
    .header__link:hover::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -0.1rem;
      width: 80%;
      transform: translateX(-50%);
      height: 3px;
      background-color: #3cb4ac;
      animation: nav-highlight 0.3s linear forwards; }
    .header__link--active::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -0.1rem;
      width: 80%;
      transform: translateX(-50%);
      height: 3px;
      background-color: #3cb4ac;
      animation: unset !important; }

.desc {
  text-align: center;
  background-color: white;
  padding: 3rem 4rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem; }
  .desc__logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%); }
  .desc__hsecondary {
    color: #7a7a7a;
    font-weight: 500;
    font-size: 0.9rem; }

.stats {
  text-align: center;
  background-color: white;
  padding: 3rem 4rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 2.5rem 2rem; }
  .stats__list {
    display: flex;
    color: #7a7a7a;
    font-size: 0.8rem;
    font-weight: 500;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 2rem;
    flex-wrap: wrap; }
  .stats__item {
    padding: 0 4rem; }
    .stats__item:not(:last-child) {
      border-right: 1px solid #ddd; }
  .stats__amount {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem 0;
    color: black; }
  .stats__bar {
    display: block;
    height: 0.6rem;
    width: 90%;
    background-color: #eee;
    border-radius: 3rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
    .stats__bar::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      border-radius: 3rem;
      width: calc(var(--percent) * 1%);
      background-color: #3cb4ac;
      animation: bar-fill 0.5s ease-in forwards; }

.about {
  text-align: center;
  background-color: white;
  padding: 3rem 4rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: left; }
  .about__desc {
    padding: 1rem 0;
    font-size: 0.9rem;
    line-height: 1.6rem;
    color: #7a7a7a; }

.prod-card {
  text-align: center;
  background-color: white;
  padding: 3rem 4rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
  padding: 2rem; }
  .prod-card__secondary {
    color: #3cb4ac; }
  .prod-card__desc {
    padding: 1rem 0;
    font-size: 0.9rem;
    line-height: 1.6rem;
    color: #7a7a7a; }
  .prod-card__stat {
    font-size: 0.8rem;
    font-weight: 500;
    color: #7a7a7a; }
  .prod-card__amount {
    font-size: 1.5rem;
    color: black;
    font-weight: 700; }
  .prod-card--oos {
    position: relative; }
    .prod-card--oos::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      background-color: rgba(255, 255, 255, 0.5); }

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000; }
  .modal__cross {
    display: block;
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    transition: all 0.2s linear; }
    .modal__cross:hover {
      transform: rotate(180deg); }
  .modal__content {
    text-align: center;
    background-color: white;
    padding: 3rem 4rem;
    border: 1px solid #eee;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    width: clamp(100px, 90vw, 45rem);
    height: clamp(100px, 900px, 90vh);
    padding: 2rem 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll; }
    .modal__content::-webkit-scrollbar {
      width: 0.5rem; }
    .modal__content::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #F5F5F5; }
    .modal__content::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #147b74; }
      .modal__content::-webkit-scrollbar-thumb:hover {
        background-color: #10655f; }
  .modal__desc {
    padding: 1rem 0;
    font-size: 0.9rem;
    line-height: 1.6rem;
    color: #7a7a7a; }
  .modal-card {
    text-align: center;
    background-color: white;
    padding: 3rem 4rem;
    border: 1px solid #eee;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 5% 95%;
    justify-content: center;
    align-items: start;
    text-align: left;
    padding: 1rem;
    overflow: hidden; }
    .modal-card__content {
      padding: 1rem; }
    .modal-card__input {
      width: 1.1rem;
      height: 1.1rem;
      padding: 0.55rem;
      margin-right: 0.5rem;
      position: relative;
      top: 2%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(1.2rem); }
      .modal-card__input input {
        opacity: 0;
        z-index: 11111;
        cursor: pointer; }
      .modal-card__input input:checked + .modal-card__select::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-47%, -49.5%);
        border-radius: 50%;
        background-color: #147b74; }
    .modal-card__select {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 50%;
      border: 1px solid #3cb4ac;
      transition: all 0.2s ease-in;
      cursor: pointer; }
    .modal-card__desc {
      padding: 1rem 0;
      font-size: 0.9rem;
      line-height: 1.6rem;
      color: #7a7a7a;
      text-align: left; }
    .modal-card__label {
      color: #3cb4ac;
      font-weight: 700; }
      .modal-card__label:hover {
        color: #147b74;
        cursor: pointer; }
    .modal-card__stat {
      color: #7a7a7a; }
      .modal-card__stat span {
        font-size: 1.5rem;
        color: black;
        font-weight: 700; }
    .modal-card--oos {
      position: relative; }
      .modal-card--oos::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: rgba(255, 255, 255, 0.5); }
  .modal-pledge {
    grid-column: 2 / span 2;
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none; }
    .modal-pledge__text {
      color: #7a7a7a; }
    .modal-pledge .shake {
      animation: shake 0.3s forwards linear; }
    .modal-pledge__wrapper {
      margin-left: auto;
      display: inline-block;
      position: relative; }
      .modal-pledge__wrapper::before {
        content: '$';
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'Commissioner', sans-serif;
        font-weight: 700;
        font-size: 1.1rem;
        color: #7a7a7a; }
    .modal-pledge__amount {
      padding: 1rem 1rem 1rem 1.2rem;
      height: 3rem;
      width: 6rem;
      border-radius: 30px;
      border: 1px solid #ccc;
      font-family: 'Commissioner', sans-serif;
      font-weight: 700;
      font-size: 1.1rem; }
      .modal-pledge__amount:focus {
        outline: none;
        border-color: #147b74; }
    .modal-pledge__submit {
      margin: 0 1rem;
      display: inline-block;
      height: 3rem;
      width: 6rem;
      padding: 0 !important;
      border-radius: 30px;
      border: none;
      text-align: center;
      font-family: 'Commissioner', sans-serif;
      font-weight: 500; }
      .modal-pledge__submit--right {
        margin-left: auto; }
    .modal-pledge::before {
      position: absolute;
      content: '';
      width: 200%;
      height: 1px;
      background-color: #ddd;
      left: -50%;
      top: -0.5rem; }
  .modal::after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100; }

.btn {
  background-color: #3cb4ac;
  font-size: 0.9rem;
  font-weight: 500;
  display: inline-block;
  padding: 1.1em 2em;
  border-radius: 4em;
  text-align: center;
  transition: all 0.2s linear;
  cursor: pointer; }
  .btn:hover {
    color: white;
    background-color: #147b74; }
  .btn--bookmark {
    position: relative;
    padding-left: 4em;
    background-color: #ececec;
    color: #7a7a7a; }
    .btn--bookmark:hover {
      color: white; }
      .btn--bookmark:hover path {
        fill: white; }
  .btn--bookmarked {
    color: #147b74 !important; }
    .btn--bookmarked path {
      fill: white !important; }
    .btn--bookmarked:hover {
      color: white !important; }
  .btn--icon {
    position: absolute;
    left: -3px;
    top: -3px; }
    .btn--icon path {
      transition: all 0.2s linear; }
  .btn--secondary {
    padding: 0.8em 1.5em; }
  .btn--oos {
    background-color: #aaa; }

@keyframes nav-highlight {
  from {
    width: 0; }
  to {
    width: 80%; } }

@keyframes bar-fill {
  from {
    width: 0; }
  to {
    width: calc(var(--percent) * 1%); } }

@keyframes shake {
  20% {
    transform: translateX(-0.2rem); }
  40% {
    transform: translateX(0.2rem); }
  60% {
    transform: translateX(-0.2rem); }
  80% {
    transform: translateX(0.2rem); }
  100% {
    transform: translateX(0); } }
