
$color-primary-dark:hsl(176, 72%, 28%);
$color-primary-light: hsl(176, 50%, 47%);
$color-secondary-dark: hsl(0, 0%, 0%);
$color-secondary-light: hsl(0, 0%, 48%);
$bar-percent: calc(var(--percent) * 1%);


//-----------------Mixins------------------//
@mixin nav-pseudo {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.1rem;
    width: 80%;
    transform: translateX(-50%);
    height: 3px;
    background-color: $color-primary-light;
}

@mixin sections {
    text-align: center;
    background-color: white;
    padding: 3rem 4rem;
    border: 1px solid #eee;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

@mixin desc {
    padding: 1rem 0;
    font-size: 0.9rem;
    line-height: 1.6rem;
    color: $color-secondary-light;
}

@mixin out-of-stock {
    position: relative;
    &::after{   
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: rgba($color: #fff, $alpha: 0.5);
    }
}

//--------------Resets---------------------//
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

ul{
    list-style: none;
    display: inline-block;
}


//--------------Basic---------------------//

:root{
    font-family: 'Commissioner', sans-serif;
}

body{
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
}


//-----------------Layout-------------------//
.c-main{
    width: clamp(100px, 90vw, 45rem);
    height: 20rem;
    margin: -4rem auto 0 auto;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.c-flex-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.u-padding-v0{
    padding: 0.5rem 0;
}

.u-padding-v1{
    padding: 1rem 0;
}

.u-padding-v2{
    padding: 2rem 0;
}

//--------------Specific---------------------//
.header{
    width: 100%;
    height: 60vh;
    background: url('../images/image-hero-desktop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0.93) 0%, rgba(0,0,0,0.1) 100%);
    }

    &__nav{
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       z-index: 100;
       padding: 2rem 4rem;
    }

    &__list{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
    }

    &__item{
        padding: 1rem;
        &--logo{
            margin-right:auto;
        }
        &--burger{
            
        }
    }

    &__burger{
        display: none;
    }

    &__link{
        position: relative;
        padding: 0.3rem 0;
        &:hover{
            &::after{
                @include nav-pseudo();
                animation: nav-highlight 0.3s linear forwards;
            }
        }
        &--active{
            &::after{
                @include nav-pseudo();
                animation: unset !important;
            }
        }
        
    }
}

.desc{
    @include sections();
    &__logo{
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
    }

    &__hprimary{
        // padding: 1rem 0
    }

    &__hsecondary{
        color: $color-secondary-light;
        font-weight: 500;
        font-size: 0.9rem;
    }
}

.stats{
    @include sections();
    padding: 2.5rem 2rem;

    &__list{
        display: flex;
        color: $color-secondary-light;
        font-size: 0.8rem;
        font-weight: 500;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        margin-bottom: 2rem;
        flex-wrap: wrap;
    }

    &__item{
        padding: 0 4rem;
        &:not(:last-child){
          border-right: 1px solid #ddd;
        } 

    }

    &__amount{
        display: block;
        font-size: 1.8rem;
        font-weight: 700;
        padding: 0.5rem 0;
        color: $color-secondary-dark;
    }

    &__bar{
        display: block;
        height: 0.6rem;
        width: 90%;
        background-color: #eee;
        border-radius: 3rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            border-radius: 3rem;
            width: $bar-percent;
            background-color: $color-primary-light;
            animation: bar-fill 0.5s ease-in forwards;
        }
    }
}

.about{
    @include sections();
    text-align: left;

    &__primary{
        
    }

    &__desc{
        @include desc();
    }

    &__para{
        
    }
}

.prod-card{
    @include sections();
    text-align: left;
    padding: 2rem;
    &__primary{
        
    }

    &__secondary{
        color: $color-primary-light;
    }

    &__desc{
        @include desc();
    }

    &__stat{
        font-size: 0.8rem;
        font-weight: 500;
        color: $color-secondary-light;
    }

    &__amount{
        font-size: 1.5rem;
        color: $color-secondary-dark;
        font-weight: 700;
    }

    &--oos{
        @include out-of-stock();
    }
}



.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: none;

    &__cross{
        display: block;
        position: absolute;
        right: 5%;
        top: 5%;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover{
            transform: rotate(180deg);
        }
    }

    &-success{
        text-align: center;
        @include sections();
        padding: 2rem 2rem;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        width: clamp(100px, 90vw, 35rem);
        display: none;

        &__check{
            
        }

        &__title{
            padding: 1rem 0 0 0;
        }

        &__desc{
            @include desc();
        }
    }

    &__content{
        @include sections();
        width: clamp(100px, 90vw, 45rem);
        height: clamp(100px, 1500px , 95vh);
        padding: 2rem 2rem;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        text-align: left;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar{
            width: 0.5rem;
        }

        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: $color-primary-dark;
            &:hover{
                background-color: darken($color: $color-primary-dark, $amount: 5%)
            }
        }
        
    }

    &__primary{

    }

    &__desc{
        @include desc();
    }

    &-card{
        @include sections();
        display: grid;
        grid-template-columns: 5% 95%;
        justify-content: center;
        align-items: start;
        text-align: left;
        padding: 1rem;
        overflow: hidden;

        &__content{
            padding: 1rem;
        }

       &__input{
            width: 1.1rem;
            height: 1.1rem;
            padding: 0.55rem;
            margin-right: 0.5rem;
            position: relative;
            top: 2%;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(1.2rem);

            & input{
                opacity: 0;
                z-index: 11111;
                cursor: pointer;
            }

            input:checked + .modal-card__select{
                &::after{
                    content: '';
                    position: absolute;
                    width: 80%;
                    height: 80%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-47%, -49.5%);
                    border-radius: 50%;
                    background-color: $color-primary-dark;
                }
                
            }
            
        }

        &__select{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border-radius: 50%;
            border: 1px solid $color-primary-light;
            transition: all 0.2s ease-in;
            cursor: pointer;
        }

        &__content{

        }

        &__desc{
            @include desc();
            text-align: left;
        }

        &__title{
            
                
        }

        &__label{
            color: $color-primary-light;
            font-weight: 700;
            &:hover{
                color: $color-primary-dark;
                cursor: pointer;
            }
        }

        &__stat{
            color: $color-secondary-light;
            // margin-right: auto;
            span{
                font-size: 1.5rem;
                color: $color-secondary-dark;
                font-weight: 700;
            }
        }

        &--oos{
            @include out-of-stock();
        }



    }

    &-pledge{
        grid-column: 2 / span 2;
        position: relative;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        display: none;
        &__text{
            color: $color-secondary-light;

        }

        .shake{
            animation: shake 0.3s forwards linear;
        }

        &__wrapper{
            margin-left: auto;
            display: inline-block;
            position: relative;
            &::before{
                content: '$';
                position: absolute;
                left: 5%;
                top: 50%;
                transform: translateY(-50%);
                font-family: 'Commissioner', sans-serif;
                font-weight: 700;
                font-size: 1.1rem;
                color: $color-secondary-light;

            }

        }

        &__amount{
            padding: 1rem 1rem 1rem 1.2rem;
            height: 3rem;
            width: 6rem;
            border-radius: 30px;
            border: 1px solid #ccc;
            font-family: 'Commissioner', sans-serif;
            font-weight: 700;
            font-size: 1.1rem;
            &:focus{
                outline: none;
                border-color: $color-primary-dark;
            }
        }

        &__submit{
            margin: 0 1rem;
            display: inline-block;
            height: 3rem;
            width: 6rem;
            padding: 0 !important;
            border-radius: 30px;
            border: none;
            text-align: center;
            font-family: 'Commissioner', sans-serif;
            font-weight: 500;
            &--right{
                margin-left: auto;
            }
        }

        
        &::before{
            position: absolute;
            content: '';
            width: 200%;
            height: 1px;
            background-color: #ddd;
            left: -50%;
            top: -0.5rem;
        }
    }


    &::after{
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 100;
    }

}











.btn{
    background-color: $color-primary-light;
    font-size: 0.9rem;
    font-weight: 500;
    display: inline-block;
    padding: 1.1em 2em;
    border-radius: 4em;
    text-align: center;
    transition: all 0.2s linear;
    cursor: pointer;
    color: whitesmoke;

    &:hover{
        color: white;
        background-color: $color-primary-dark;
    }
    
    &--primary{

    }

    &--bookmark{
        position: relative;
        padding-left: 4em;
        background-color: rgb(236, 236, 236);
        color: $color-secondary-light;
        &:hover{
            color: white;
            & path{
                fill: white;
            }
        }
    }
    &--bookmarked{
        color: $color-primary-dark !important;
        & path{
        fill: white !important;
        }
        
        &:hover{
            color: white !important;
        }
    }


    &--icon{
        position: absolute;
        left: -3px;
        top: -3px;
        & path{
            transition: all 0.2s linear;
        }
    }

    &--secondary{
        padding: 0.8em 1.5em;
    }

    &--oos{
        background-color: #aaa;
    }
}




@keyframes nav-highlight{
    from{
        width: 0;
    }
    to{
        width: 80%;
    }
}

@keyframes bar-fill{
    from{
        width: 0;
    }
    to{
        width: calc(var(--percent) * 1%);
    }
}

@keyframes shake{
    20%{
        transform: translateX(-0.2rem);
    }
    40%{
        transform: translateX(0.2rem);
    }
    60%{
        transform: translateX(-0.2rem);
    }
    80%{
        transform: translateX(0.2rem);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes reveal{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width:500px) {
    :root{
        font-size: 75%;
    }

    .header{
        background: url('../images/image-hero-mobile.jpg');
        background-size: cover;

        &__list{
            padding: 1.5rem;
            flex-direction: column;
            align-items: flex-end;
        }

        &__item{
            display: none;
            animation: reveal 0.5s 1 forwards linear;
            padding: 1rem 0;
            &--logo{
                display: block;
                padding: 0;
                background-color: transparent;
            }
            &--burger{
                display: block;
                position: relative;
                width: 2.5rem;
                height: 2.5rem;
                margin-top: -2rem;
                background-color: transparent;
                span{
                    position: absolute;
                    display: block;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: whitesmoke;
                    border-radius: 10px;
                    transition: all 0.2s linear;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        top: 0.8rem;
                        border-radius: 10px;
                        background-color: whitesmoke;
                        transition:all 0.2s linear;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        top: -0.8rem;
                        border-radius: 10px;
                        background-color: whitesmoke;
                        transition:all 0.2s linear;
                    }
                }
            }
        }

        &__burger{
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
            position: absolute;
            right: 0%;
            top: 50%;
            transform: translate(0%, -50%);
            opacity: 0;
            z-index: 10000;
            &:checked + span{
                transform: rotate(45deg);
                &::after{
                    top: 0;
                    transform: rotate(90deg);
                }
                &::before{
                    top: 0;
                    transform: rotate(90deg);
                }
            }
        }

        &__link{

        }
        
        &__nav{
            padding: 1rem;
        }
    }

    .btn{
        padding: 1em 2em;
        &--bookmark{
            span{
                display: none;
            }
        }
        &--icon{
           transform: translateY(-50%);
           top: 50%;
        }
        &--secondary{
            padding: 0.8em 1.5em;
        }
    }

    .stats{
        &__list{
            flex-direction: column;
        }
        &__item{
            padding: 2rem 0rem;
            &:not(:last-child){
              border: none;
              border-bottom: 1px solid #ddd;
            } 
        }
        &__amount{
            font-size: 2.5rem;
        }
    }

    .prod-card{
        &__primary{
            margin-bottom: 0.5rem;
        }
        &__stat{
            margin-bottom: 1rem;
        }
        &__amount{
            font-size: 2rem;
        }
    }

    .c-flex-two{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .c-flex-two.u-padding-v1{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .modal-pledge{


        &__submit{
            height: 3rem;
            width: 8rem;
        }
    }

    
}